page-home {
    ion-header.header {
        .toolbar{
            button{
                background-color:#00E094;
            }
        }
        .toolbar-background {
            border: 0;
            background: none;
        }
    }
    ion-col {
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
