// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Meltix_Regular_Demo';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Meltix_Regular_Demo.otf');
  src: url('../assets/fonts/Meltix_Regular_Demo.otf?#iefix') format('opentype'),
       local('Meltix_Regular_Demo'),
       local('Meltix_Regular_Demo'),
       url('../assets/fonts/Meltix_Regular_Demo.woff') format('woff')
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
  font-family: 'Meltix_Regular_Demo' !important;
  .tabs-md[tabsLayout=icon-top] .has-icon[aria-selected=true]  .tab-button-text
  {
    border-bottom: 1px solid #FD5A6D;
    padding-bottom: 4px;
  }
}