page-parts {
    ion-header {
        background: none !important;
        ion-navbar{
            height: 200px;
            background-size: 200px !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
        .toolbar{
            .toolbar-background{
                background: #00E094;
                border-style: none;
                border-width:0;
                background-image:url(/assets/images/add_card.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 75px;
            }
        }
    }
}
