page-parts {
    ion-header{
        ion-toolbar.cust{
            padding: 0;
        }
    }
    .item {
    ion-avatar {
        width: 100px;
        background-repeat:no-repeat;
        background-position: center;
        background-size: 80% auto;
        height: 40px;
        border-radius: 10px;
    }
}
    
}
